<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <h1>Debts By Me</h1>
    <ul>
        <% for(var i=0; i<data.length; i++) {%>
            <li><%= JSON.stringify(data[i])%></li><form action="/deleteDebt" method="post"><input type="text" name="DebtId" value="<%= data[i].id %>" hidden><input value="Delete" type="submit"></form>
        <% } %>
    </ul>



</body>
<script>
    document.getElementById("debtByMe").classList.add("active");
</script>
</html>